:root {
    --a11y-fontsize: 1em;
    --palette-monochrome-background: #111111;
    --palette-monochrome-main:       #1b1b1b;
    --palette-monochrome-secondary:  #1f1f1f;
    --palette-monochrome-top:        #333333;
    --palette-monochrome-highlight:  #a0a0a0;
    --palette-monochrome-common:     #f2f3f4;
    --palette-colour-main:   #550C65;
    --palette-colour-accent: #711496;
}

* {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

@media (prefers-color-scheme: light) {
    :root {
        --palette-monochrome-background: #eeeeee;
        --palette-monochrome-main:       #e4e4e4;
        --palette-monochrome-secondary:  #e1e1e1;
        --palette-monochrome-top:        #cccccc;
        --palette-monochrome-highlight:  #404040;
        --palette-monochrome-common:     #020304;
    }
}

@media (max-width: 900px) {
    html body > div > section#mobile_personalCard {
        display: block;
    }
}


/*Main*/
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--palette-monochrome-background);
    font-family: 'Quicksand', sans-serif;
    font-size: var(--a11y-fontsize);
    color: var(--palette-monochrome-common);
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: space-evenly;
    overflow-y: hidden;
}

h1 {font-size: calc(var(--a11y-fontsize) + 3vh);}
h2 {font-size: calc(var(--a11y-fontsize) + 2.5vh);}
h3 {font-size: calc(var(--a11y-fontsize) + 2vh);}
h4 {font-size: calc(var(--a11y-fontsize) + 1.5vh);}
h5 {font-size: calc(var(--a11y-fontsize) + 1vh);}
h6 {font-size: calc(var(--a11y-fontsize) + 0.5v);}
p {font-size: var(--a11y-fontsize);}

a:link,
a:visited {color: inherit;}
a:not(main a) {text-decoration: none;}


/*General / Important*/
body > div#leftElementsContainer {
    width: 20%;
    height: 100%;
    padding: 3vh 3vw;
}

body > div#rightElementContainer {
    width: 70%;
    height: auto;
    padding: 3vh 3vw;
    overflow-y: scroll;
    overflow-x: hidden;
} body > div#rightElementContainer::-webkit-scrollbar {display: none;}

body > div > section,
body > div > main {
    background-color: var(--palette-monochrome-main);
    color: var(--palette-monochrome-common);
    border: 1px solid var(--palette-monochrome-top);
    border-radius: 15px;
    padding: 5px;
}

body > div > section#personalCard,
body > div > section#mobile_personalCard {
    width: 100%;
    height: 70%;
}

body > div > section#mobile_personalCard {display: none;}

body > div > section#specialCard {
    width: 100%;
    height: 18%;
    margin-top: 3vh;
}
body > div > main {
    width: 100%;
    height: max-content;
}

body > div > main > nav {
    background-color: var(--palette-monochrome-top);
    border-left: 1px solid var(--palette-monochrome-highlight);
    border-bottom: 1px solid var(--palette-monochrome-highlight);
    border-bottom-left-radius: 5px;
    border-top-right-radius: 15px;
    margin: -5px -5px 0 0;
    padding: 4px;
    position: sticky;
    float: right;
    width: 40%;
    height: max-content;
}

body > div > main > nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

hr {
    margin: 5px 5px 5px 0;
    padding: 2px;
    background-color: var(--palette-colour-main);
    border: none;
    border-radius: 10px;
    justify-self: left;
    width: 20%;
    height: 1vh;
}

*.small-text {
    color: var(--palette-monochrome-highlight);
}

br.smallBR {line-height: 0.6em !important;}


/*Specific*/
img#personalPicture {
    width: 50%;
    height: 50%;
    background-color: var(--palette-monochrome-top);
    border: 2px solid var(--palette-monochrome-top);
    border-radius: 5px;
}

img#mobile_personalPicture {
    width: 30%;
    height: 30%;
    background-color: var(--palette-monochrome-top);
    border: 2px solid var(--palette-monochrome-top);
    border-radius: 5px;
}

span.descriptionTag {
    white-space: nowrap;
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
    background-color: var(--palette-monochrome-secondary);
    border-radius: 5px;
    margin: 5px;
    width: 70%;
    padding: 3px;
}
span.descriptionTag > span {width: 20%;}
span.descriptionTag > p    {width: 75%;}

hr#personalCardHR {justify-self: center; width: 90%; height: 5px; margin: 3vh auto;}

section#personalCard > div:nth-child(3),
section#mobile_personalCard > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
section#personalCard > div:nth-child(3) > div,
section#mobile_personalCard > div:nth-child(3) > div {
    height: 0.2vh;
}

ul#persionalInformationList {list-style: none;}
ul#persionalInformationList > li {
    margin: 2vh 2vw;
    display: flex;
    justify-content: space-evenly;
    max-height: 20%;
    max-width: 95%;
    width: min(fit-content, 60%);
    text-overflow: ellipsis;
}

ul#persionalInformationList > li > a {
    width: 20%; 
    margin-right: 2px;
    padding: auto;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    background-color: var(--palette-monochrome-secondary);
    border: 1px solid var(--palette-monochrome-top);
    border-radius: 5px;
}
ul#persionalInformationList > li > a > span {
    margin: 1.2vh; 
    justify-self: center; 
    vertical-align: middle; 
    font-size: calc(var(--a11y-fontsize) + 0.5vh);
}

ul#persionalInformationList > li > p {
    width: 70%;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
} ul#persionalInformationList > li > p:hover {overflow: visible;}

ul#socialsList {
    list-style-type: none; 
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

ul#socialsList > li {
    width: 20%;
    vertical-align: bottom;
    background-color: var(--palette-monochrome-top);
    border-radius: 5px;
}
ul#socialsList > li > a {display: block; width: 100%; height: 100%;}
ul#socialsList > li > a * {margin: 0;}

ul#socialsList > li > a > img {
    width: var(--a11y-fontsize); 
    height: var(--a11y-fontsize); 
    color: var(--palette-monochrome-common);
}

ul#socialsList > li:nth-child(1) > a > img {width: calc(var(--a11y-fontsize) + 0.2vh);}
ul#socialsList > li:nth-child(2) > a > img,
ul#socialsList > li:nth-child(3) > a > img {width: calc(var(--a11y-fontsize) + 0.8vh);}
ul#socialsList > li:nth-child(4) > a > img {width: calc(var(--a11y-fontsize) + 0.4vh);}

/**/
/**/

body > * > main > header {
    text-align: left;
    margin: 0 0 0 5px;
    padding: 5px;
}

body > div > main > header > div > p {margin-left: 1em;}