@charset "UTF-8";

/*
 PRIMARY SELECTORS
  :root, @media, @keyframes, *, html, body
*/
            
:root {
    --global-fontsize:                  1rem;
    --palette-primary:                hsl(267, 29%, 60%);
    --palette-secondary:              hsl(266, 55%, 35%);
    --palette-accent:                 hsl(37, 46%, 54%);
    --palette-common-text:            hsl(253, 100%, 95%);
    --palette-common-text-muted:      hsl(244, 68%, 79%);
    --palette-common-field-top:       hsl(251, 53%, 13%);
    --palette-common-field-bottom:    hsl(253, 80%, 8%);
    --palette-common-background:      hsl(250, 100%, 5%);
    --palette-special-one:            #8CB369E5;
    --palette-special-two:            #F4E285E5;
    --palette-special-three:          #F4A259E5;
    --palette-special-four:           #5B8E7DE5;
    --palette-special-five:           #BC4B51E5;
}

@media (prefers-color-scheme: light) { /*LIGHT MODE*/
    :root {
        --palette-primary:                hsl(266, 55%, 35%);
        --palette-secondary:              hsl(267, 29%, 60%);
        --palette-accent:                 hsl(37, 67%, 43%);
        --palette-common-text:            hsl(256, 100%, 12%);
        --palette-common-text-muted:      hsl(251, 43%, 38%);
        --palette-common-field-top:       hsl(260, 100%, 99%);
        --palette-common-field-bottom:    hsl(246, 100%, 94%);
        --palette-common-background:      hsl(244, 100%, 93%);
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*.mobile {
    display: none;
}

html {
    /*Height & Width*/
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    /*Technical & Layout*/
    overflow: hidden;
}

body {
    /*Height & Width*/
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    /*Technical & Layout*/
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*Colouring & Styling*/
    background-color: var(--palette-common-background);
    color: var(--palette-common-text-muted);
    font-family: "Noto Sans", sans-serif;
    font-size: var(--global-fontsize);
    & h1, h2, h3 {
        color: var(--palette-common-text);
    }
    & > nav.mobile, & > aside.mobile {
        display: none;
    }
    & p {
        text-indent: 2rem;
    }
}





/*
*   CORE SELECTORS
*   nav, main, aside, & main children
*/
body nav { /*Left side navigation and other information; static on screen*/
    /*Height & Width*/
    width: 10vw;
    height: 100vh;
    /*Technical & Layout*/
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    & > div#navigation_pannel {
        width: 100%;
        height: max-content;
        display: block;
        & > div {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            & div.navigation_item {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 100%;
                height: 5vh;
                background-color: var(--palette-common-field-bottom);
                border: 1px solid var(--palette-common-field-top);
                text-decoration: none !important;
                &:hover {
                    background-color: var(--palette-secondary);
                    border: 1px solid var(--palette-primary);
                    color: var(--palette-accent);
                }
                & a {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 80%;
                    height: 100%;
                    text-decoration: none;
                    text-align: left;
                    & > span.material-symbols-rounded {
                        font-size: 2vw;
                        width: 20%;
                    }
                    & > p {
                        text-indent: 0;
                        margin-left: 1vw;
                        width: 80%;
                        font-size: 1vw;
                    }
                }
                & span.dropdown_icon {
                    display: flex;
                    width: 20%;
                    height: 100%;
                    font-size: 2vw;
                    text-align: center;
                    align-items: center;
                    & * {
                        margin: auto;
                        justify-self: center;
                    }
                }
            }
            
            & div.dropdown_content {
                display: none;
                flex-direction: column;
                justify-content: space-evenly;
                & a {
                    display: block;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    text-align: left;
                    & > span.material-symbols-rounded {
                        font-size: 2vw;
                        width: 20%;
                    }
                    &:hover {
                        background-color: var(--palette-secondary);
                        border: 1px solid var(--palette-primary);
                        color: var(--palette-accent);
                    }
                    & > p {
                        text-indent: 0;
                        margin-left: 1vw;
                        width: 80%;
                        font-size: 1vw;
                    }
                }
            }
        }
    }
}

body main {  /*The central information element; only thing that scrolls*/
    /*Height & Width*/
    width: 70vw;
    max-height: 100vh;
    /*Technical & Layout*/
    overflow-y: scroll;
    &::-webkit-scrollbar { /*Take away the scroll-bar*/ 
        display: none;
    }
    & > * > * { /*General spacing*/
        margin: 1.5vh 1vw;
    }
    /*EDITIING CHILDREN*/
    & > div { /*General "sections"*/
        margin-bottom: 2vh;
    }
    & fieldset { /*The sideboxes*/
        background-color: var(--palette-common-field-bottom);
        border-radius: 5px;
        border: 1.5px solid var(--palette-common-field-top);
        height: fit-content;
        padding: 5px;
    }
}

body aside { /*Right side personal information & images; static on screen*/
    /*Height & Width*/
    width: 20vw;
    height: 100vh;
    /*Technical & Layout*/
    overflow: hidden;
    text-align: center;
    padding: 1vh 1vw;
    &.profile_deleduck {
        display: block;
    }
    &.profile_celene, &.profile_irl {
        display: none;
    }
    & fieldset { /*The sideboxes*/
        background-color: var(--palette-common-field-bottom);
        border-radius: 5px;
        border: 1.5px solid var(--palette-common-field-top);
        height: fit-content;
        padding: 5px;
    }
}


/*
    TEXT SELECTORS
*/


/*
    SPECIALTY SELECTORS
*/



/*
    SINGLE SELECTORS
*/