@charset "UTF-8";

/*
 PRIMARY SELECTORS
  :root, @media, @keyframes, *, html, body
*/
:root {
    --global-fontsize: 1rem;

    --palette-primary:                #651551;
    --palette-secondary:              #AB2088;
    --palette-transparent-primary:    #651551E5;
    --palette-transparent-secondary:  #AB2088E5;

    --palette-accent:                 #FCC900;
    --palette-transparent-accent:     #FCC900E5;

    --palette-common-text:            #F2F3F4;
    --palette-common-text-highlight:  #B6B7B8;
    --palette-common-field-top:       #5C5D5E;
    --palette-common-field-bottom:    #202122;
    --palette-common-background:      #020304;
    --palette-transparent-top:        #5C5D5EAA;
    --palette-transparent-bottom:     #202122AA;

    --palette-special-one:            #8CB369E5;
    --palette-special-two:            #F4E285E5;
    --palette-special-three:          #F4A259E5;
    --palette-special-four:           #5B8E7DE5;
    --palette-special-five:           #BC4B51E5;
}

@media (prefers-color-scheme: light) { /*LIGHT MODE*/
    :root {
        --palette-common-text:            #020304;
        --palette-common-text-highlight:  #202122;
        --palette-common-field-top:       #98999A;
        --palette-common-field-bottom:    #B6B7B8;
        --palette-common-background:      #F2F3F4;
  }
}

@media (max-width: 800px) { /*MOBILE LAYOUT*/
    body {
        width: 100vw            !important;
        height: 100vh           !important;
        display: block          !important;
        overflow: scroll        !important;
        margin: 0               !important;
        padding: 0              !important;
    }
    body nav {
        width: 100%             !important;
        height: max-content     !important;
        margin: 0               !important;
        padding: 0              !important;
    }
    body main {
        width: 100%             !important;
        height: max-content     !important;
        margin: 0               !important;
        padding: 0              !important;
    }
}

@media (max-height: 500px) {
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    min-width: 600px;
}

body {
    margin: 0;
    padding: 0;
    min-width: 600px;
    width: 100vw;
    height: 100vh;
    background-color: var(--palette-common-background);
    color: var(--palette-common-text);
    font-family: "Noto Sans", sans-serif;
    font-size: var(--global-fontsize);
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}


/*
    CORE SELECTORS
    main, nav, main > section
*/
body nav {
    width: 20%;
    background-color: var(--palette-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: max(2px, auto);
}

body main {
    width: 80%;
    height: 100%;
    overflow: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
} 

body main > section {
    background-color: var(--palette-common-field-bottom);
    max-width: 100%;
    height: max-content;
    margin: 2vh 1vw;
    border-radius: 15px;
    padding: 10px;
}

body main > section fieldset, body nav fieldset {
    background-color: var(--palette-common-field-top);
    max-width: 100%;
    height: max-content;
    margin: 2vh 1vw;
    border: 2px solid var(--palette-secondary);
    border-radius: 15px;
    padding: 10px;
}

body nav fieldset {
    background-color: var(--palette-common-field-bottom);
    border: 1px solid var(--palette-common-field-top);
    border-radius: 5px;
    color: var(--palette-common-text-highlight);
    font-family: monospace;
    font-size: 2vh;
    padding: 1vh 1vw;
    margin: 0;
}


/*
    TEXT SELECTORS
*/
*.text_highlight {color: var(--palette-common-text-highlight);}

a:link, a:visited {
    color: var(--palette-accent);
    text-decoration: underline;
}

a:hover {
    color: var(--palette-secondary);
    text-decoration: none;
    cursor: pointer;
}


/*
    SPECIALTY SELECTORS
*/
*.splitport_even {
    display: flex;
    justify-content: space-evenly;
} *.splitport_even > *{
    max-width: 50%;
}

body nav a:link,
body nav a:visited {
    background-color: var(--palette-secondary);
    color: var(--palette-accent);
    border-radius: 5px;
    margin: 1vh 0;
    min-width: 80%;
    height: fit-content;
    text-decoration: none;
    padding: 5px;
    font-size: max(2vh, 20px);
}
body nav a:hover {
    background-color: var(--palette-accent);
    color: var(--palette-secondary);
}



/*
    SINGLE SELECTORS
*/
img#profile_picture {
    width: 50%;
    height: auto;
    border-radius: 5%;
}

hr.hr_stylised, hr.hr_stylised_justifyed {
    background-color: var(--palette-accent);
    border: none;
    border-radius: 5PX;
    width: 80%;
    height: 10px;
    margin: 1vh;
} hr.hr_stylised_justifyed {text-align: left; width: 35%;}

*.section_inline_blorb {
    background-color: var(--palette-secondary);
    color: var(--palette-accent);
    padding: 2px;
    margin: 1px;
    border-radius: 4px;
    width: fit-content;
    height: fit-content;
    white-space: nowrap;
}

div#navigation_pannel {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & > * {
        margin: 1vh auto;
    }
}


/*
    MODULES
*/

/*
Search Module
*/

/*General Module*/
section#projects_search {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 1%;
}

section#projects_search > a.project_card {
    width: 30%;
    height: 300px;
    margin: 1vh 1vw;
    overflow: hidden;
    position: relative;
    display: none;
    border: 3px solid var(--palette-common-field-top);
    border-radius: 5%;
    color: var(--palette-common-text);
    text-decoration: none;
    &.content_shown {
        display: block;
    }
}

section#projects_search > a.project_card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-image: url("./images_public/medium_Artboard_1_CA_7014f6233b.png");
    background-size: cover; /* Ensures the image covers the initial area */
    background-position: center;
    transition: all 1s ease-in-out;
    z-index: 1;
}
    section#projects_search > a.project_card:hover::before { /*Can't use &:hover in previous because ordering is broken*/
        transform: scale(1.3);
    }

section#projects_search > a.project_card > div:first-child {
    height: fit-content;
    padding: 5px;
    background-color: var(--palette-transparent-bottom);
    position: relative;
    z-index: 2;
}


/*Tags*/
section#projects_search > a.project_card > div > div {
    padding: 0.7vh;
}

section#projects_search span.project_tag {
    color: var(--palette-accent);
    border: 1px solid var(--palette-accent);
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    white-space: nowrap;
}

section#projects_search span.project_tag_featured                {background-color: var(--palette-transparent-secondary); border: 3px double var(--palette-transparent-accent);}
section#projects_search span.project_tag_superprojects           {background-color: var(--palette-transparent-accent); color: var(--palette-transparent-secondary); border: 3px double var(--palette-transparent-secondary);}
section#projects_search span.project_tag_websites                {background-color: var(--palette-special-one);}
section#projects_search span.project_tag_videogames              {background-color: var(--palette-special-two);}
section#projects_search span.project_tag_software                {background-color: var(--palette-special-three);}
section#projects_search span.project_tag_art                     {background-color: var(--palette-special-four);}
section#projects_search span.project_tag_systemsandhierarchies   {background-color: var(--palette-special-five);}
section#projects_search span.project_tag_other                   {background-color: rgba(105, 105, 105, 0.9); color: rgba(211, 211, 211, 0.9); border: 1px dashed rgba(211, 211, 211, 0.9);}

/*Buttons*/
div#project_buttons > button {
    background-color: var(--palette-common-text-highlight);
    border: 1px solid var(--palette-common-background);
    border-radius: 30px;
    padding: 1vh 1vw;
    margin: 5px;
    color: var(--palette-common-background);
    width: 20%;
    &:hover {
        cursor: pointer;
        background-color: var(--palette-common-field-top);
    }
}

div#project_buttons > button[onclick~="project_filter()"] {
    width: 35%;
    margin: 0;
    font-weight: inherit;

}

div#project_buttons > button.project_button_active {
    background-color: red;
}

picture > img,
picture > source {
    display: block;
    width: 20% !important;
    height: auto !important;
}