@charset "UTF-8";

a:link, a:visited {
    color: var(--palette-primary);
    &:hover {
        color: var(--palette-accent);
    }
}
fieldset#version {
    font-family: "Consolas", monospace;
    background-color: var(--palette-common-field-bottom);
    border: 1px solid var(--palette-common-field-top);
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    & > a:link, & > a:visited {
        color: var(--palette-accent);
        text-decoration: none;
        &:hover {
            color: var(--palette-primary);
        }
    }
    &:hover {
        background-color: var(--palette-common-field-top);
        border: 1px solid var(--palette-common-field-bottom);
    }
}

*.splitport-even {
    display: flex;
    justify-content: space-evenly;
    & > * {
        max-width: 50%;
    }
    & *.splitport-weighter {
        min-width: 60%;
    }
}
*.splitport-even-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    & > * {
        max-height: max-content;
        margin: 5px;
    }
}

hr.stylised {
    background-color: var(--palette-primary);
    border: none;
    border-radius: 5px;
    height: 2vh;
    width: 50%;
    justify-self: center;
    &.justified {
        justify-self: left;
    }
}

body aside {
    & > img#profile_picture {
        width: 50%;
        height: auto;
        margin: 5px;
        border-radius: 15px;
    }
}