:root {
    --a11y-fontsize: 2.5vh;
    --palette-darkblue: #142D2F;
    --palette-blue: #3c8990;
    --palette-teal: #6FDCAE;
    --palette-tawny: #F8FCC5;
    --palette-hazelnut: #D4AF7D;
    --palette-oak: #B39265;
    --palette-brine: #470B0B;
}

* {
    margin: 0;
    padding: 0;
}

a {color: inherit; text-decoration: none;}
a.highlightedA {text-decoration: underline;}

::-webkit-scrollbar {display: none;}

html {scroll-behavior: smooth;}

body:not(nav *) {
    margin: 0;
    padding: 0;
    background: var(--palette-blue);
    color: aliceblue;
    font-family: 'Lexend', sans-serif;
    font-size: var(--a11y-fontsize);
    display: flex;
    justify-content: space-between;
    word-break: keep-all;
    white-space: inherit;
    height: 100vh;
    width: 100vw;
}

nav > ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
    list-style-type: none;
    margin-top: 5px;
    
}

nav > ul > li {
    width: 70%;
    height: 7vh;
    margin: 4px;
    background: var(--palette-blue);
    border-radius: 5px;
    vertical-align: middle;
    padding: auto;
    cursor: pointer;
}

li.subLi {width: 55%;}

nav > ul > li > a:link,
nav > ul > li > a:visited {
    color: var(--palette-teal);
    font-size: 1.3vw;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 2vh;
}
nav#mobileNav > ul > li > a:link,
nav#mobileNav > ul > li > a:visited {margin: 0;}


nav > h3#pageTitle {
    margin: 20px auto;
    font-size: 2.5vh;
}

p#rangeTextHeader, p#rangeTextValue {margin-top: 2px; font-size: 2.5vh;}
span#resetButton {cursor: pointer;}
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
    height: 10px;
    width: auto;
    background: var(--palette-oak);
    border-radius: 16px;
}
input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: var(--palette-tawny);
    border-radius: 50%;
    border: 2px solid var(--palette-hazelnut);
}

@media (max-width: 900px) {
    nav#mobileNav {
        display: inline !important;
        border-bottom: 2px var(--palette-oak) solid !important;
        z-index: 999 !important;
    }
    body > nav {
        display: none;
        margin: 0;
        padding: 0;
    }
    main {
        padding: 0 !important;
        margin: 0 !important;
        width: 100vw !important;
        height: 100vh !important;
    }
    #notNavFix {
        padding: 5px;
    }
    body {
        margin: 0 !important;
        padding: 0 !important;
    }
    a {
        scroll-margin-top: 5px;
    }
    section#Home {
        margin-top: 10vh;
    }
    .mobileText {
        display: inline !important;
    }
    .pathedContainment {
        justify-content: space-evenly !important;
    }
    .showHiddenText {
        width: auto !important;
        margin: 0 !important;
    }
    .pathedCourseBox {
        margin: 5px !important;
        width: 40% !important;
    }
    .pathedCourseBox img {
        margin: auto auto auto -50% !important;
    }
}

img {z-index: 2;}

nav#mobileNav {display: none; position: fixed; top: 0; background: var(--palette-darkblue); width: 100vw; height: 10vh; margin: 0;}
nav#mobileNav > ul {display: flex; width: 100%;}
nav#mobileNav > ul > li {width: 20%;}
nav#mobileNav > ul > li > a:link,
nav#mobileNav > ul > li > a:visited {font-size: var(--a11y-fontsize); margin: 1.8vh 1.8vw;}

body > nav {width: 20%; height: 100%; background-color: var(--palette-darkblue); text-align: center; z-index: 99999999999;}
main:not(nav) {width: 80%; height: 95.3%; overflow-y: scroll; padding: 15px;}
main footer {text-align: center; margin: auto; justify-self: center;}

h1:not(nav *) {font-size: calc(var(--a11y-fontsize) + 3vh);}
h2:not(nav *) {font-size: calc(var(--a11y-fontsize) + 2.5vh);}
h3:not(nav *) {font-size: calc(var(--a11y-fontsize) + 2vh);}
h4:not(nav *) {font-size: calc(var(--a11y-fontsize) + 1.5vh);}
h5:not(nav *) {font-size: calc(var(--a11y-fontsize) + 1vh);}
h6:not(nav *) {font-size: calc(var(--a11y-fontsize) + 0.5vh);}
p:not(nav *) {font-size: var(--a11y-fontsize);}
.emSentence {font-size: calc(var(--a11y-fontsize) + 0.4vh);}

main table {background-color: var(--palette-darkblue); table-layout: auto; width: 100%; font-size: calc(var(--a11y-fontsize) + 0.5vh); text-align: left;  border-radius: 5px; margin-bottom: 10px; max-width: 100%;}
main table td {margin: 0; padding: 0; font-size: min(calc(var(--a11y-fontsize) - 0.8vh), 15px);}
main table * {border: 1px var(--palette-teal) solid; border-radius: 2px; padding: 1px; margin: 3px;}

.pathedContainment {
    display: flex;
    justify-content: left;
    vertical-align: middle;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
}

.pathedContainment * {font-size: calc(var(--a11y-fontsize) - 0.3vh);}
.pathedContainment .pathedCourseBox {margin: 1vh;}
#PathedCourses h3 {margin-top: 8.25vh;}

.hideRest {display: none; width: 100%;}
.showHiddenText {cursor: pointer; text-align: center; margin: auto;}

.pathedCourseBox {
    background: var(--palette-hazelnut);
    width: 30%;
    height: 52vh;
    overflow: hidden;
    border: 5px var(--palette-oak) solid;
    border-radius: 5px;
}

.pathedCourseBox div {
    overflow: hidden;
    height: 35vh; 
    width: auto;
    border-bottom: 2px var(--palette-oak) solid;
    margin-bottom: 0.5vh;
}

.pathedCourseBox img {
    height: 40vh;
    max-height: 41vh;
    width: auto;
    max-width: 120%;
    background: var(--palette-brine);
    text-align: center;
    margin: 0 auto auto -20px;
    object-fit: cover;
    object-position: 50% 50%;
    scale: 1.7;
    overflow: hidden;
    animation-name: imagePull;
    animation-duration: 0.8s;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.pathedCourseBox img:hover {
    animation-name: imagePush;
    animation-duration: 0.8s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes imagePush {
    0% {
        scale: auto;
    }
    100% {
        scale: 1.5; 
    }
}

@keyframes imagePull {
    0% {
        scale: 1.7;
    }
    100% {
        scale: auto; 
    }
}

.courseBox {
    margin: 7vh 17vw;
    padding: 5px;
    background: var(--palette-oak);
    border-radius: 7px;
}

.courseBox-hr {border: 1px rgba(0, 0, 0, 0) solid; border-radius: 2px;}

.courseContainment {display: flex; justify-content: space-evenly; flex-wrap: wrap; box-sizing: border-box;}
.courseContainment > * {height: auto; width: 90%; margin: 15px 0;}

#MakerpenAnimation,
#ContentCreation,
#ProjectManagement,
#OtherLoose {padding-top: 12vh}

#MakerpenAnimation > section.courseContainment > div.courseBox,
#ContentCreation > section.courseContainment > div.courseBox,
#ProjectManagement > section.courseContainment > div.courseBox,
#OtherLoose > section.courseContainment > div.courseBox {border: 10px var(--palette-hazelnut) solid;}
hr {border: 1px var(--palette-tawny) solid; border-radius: 2px;}

.courseBox > *:not(span) {margin: 2px 2px 2px 10px;}

.courseBox > span {
    display: flex;
    flex-wrap: nowrap;
    vertical-align: middle;
    text-align: center;
    max-width: fit-content;
    font-size: calc(var(--a11y-fontsize) + 0.8vh);
}

ul.miniTitleList {
    list-style-type: disc;
    list-style-position: inside;
    margin-top: 15px;
}

ul.miniTitleList > li {
    margin: 5px auto 5px 20px;
}

.sectionMiniTitle {
    font-size: calc(var(--a11y-fontsize) + 0.2vh);
    font-style: italic;
}

.courseTitle {
    font-size: calc(var(--a11y-fontsize) + 1.5vh);
    text-align: left !important;
    text-decoration: underline;
}
#PathedCourses .courseTitle {
    font-size: calc(var(--a11y-fontsize) + 0.7vh);
}

.nowrap {white-space: nowrap;}

.courseCode {
    text-align: right;
    margin: auto;
}

.courseTitleRef, .tagRef, .type-tagRef, .sect-tagRef, .accreditationsRef, .cert-accreditationsRef {
    border-radius: 5px;
    padding: 2px;
    font-size: calc(var(--a11y-fontsize) - 0.5vh);
    white-space: nowrap;
}

.courseTitleRef {background: rgba(130, 200, 233, 0.75);}
.tagRef {background: rgba(235, 129, 129, 0.75);}
.sect-tagRef {background: rgba(201, 103, 103, 0.75);}
.type-tagRef {background: rgba(197, 88, 88, 0.75);}
.accreditationsRef {background: rgba(35, 194, 114, 0.75);}
.cert-accreditationsRef {background: rgba(25, 167, 96, 0.75);}

.split-port {
    display: flex;
    justify-content: space-between;
}
.left-split {width: 25%;}
.right-split {width: 75%;}
.left-split hr, .right-split hr {display: block; margin: 7px auto 2px auto;}

.mobileText {display: none; font-size: small;}

footer {
    background: var(--palette-darkblue);
    height: 30vh;
    width: 95%;
    border: 4px var(--palette-teal) solid;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

footer ul {display: flex; justify-content: space-evenly; list-style-type: none; max-width: 50%; margin: auto; justify-self: center;}
footer li a {display: flex; justify-content: space-evenly; flex-wrap: nowrap;}
footer .split-port {justify-self: center; width: 95%;}
footer .split-port > * {width: 95%;}
footer br {line-height: calc(var(--a11y-fontsize) - 0.5vh) !important;}
.footerInfo {font-size: calc(var(--a11y-fontsize) - 0.5vh); color: var(--palette-blue);}