@charset "UTF-8";

/*
*   ///Special Stylesheet///
*   This stylsheet is for displays that are specific to one area,
*   i.e. project cards, 
*/

fieldset#version {
    font-family: "Consolas", monospace;
    background-color: var(--palette-common-field-bottom);
    border: 1px solid var(--palette-common-field-top);
    border-radius: 5px;
    margin: 5px;
    text-align: center;

    &>a:link,
    &>a:visited {
        color: var(--palette-accent);
        text-decoration: none;

        &:hover {
            color: var(--palette-primary);
        }
    }

    &:hover {
        background-color: var(--palette-common-field-top);
        border: 1px solid var(--palette-common-field-bottom);
    }
}

body aside {

    &>img.profile_picture,
    & img#profile_picture_mobile {
        width: 50%;
        height: auto;
        margin: 5px;
        border-radius: 15px;
    }
}

aside div.profile_selector {
    width: 30%;
    height: auto;
    justify-self: center;
    display: flex;
    justify-content: space-evenly;
    & > div {
        width: 30%;
        background-color: var(--palette-common-field-bottom);
        color: var(--palette-common-text-muted);
        border: 1px solid var(--palette-common-field-top);
        border-radius: 2px;
        &.checked, &:hover {
            background-color: var(--palette-secondary);
            color: var(--palette-accent);
            border: 1px solid var(--palette-primary);
            cursor: pointer;
        }
    }
}