/**
 PRIMARY SELECTORS
  :root, @media, @keyframes, *, html, body
**/
:root {
    --global-fontsize: 2rem;
    /**/
    --palette-primary:                #651551;
    --palette-secondary:              #AB2088;
    /**/
    --palette-accent:                 #FCC900;
    /**/
    --palette-common-text:            #F2F3F4;
    --palette-common-text-highlight:  #B6B7B8;
    --palette-common-field-top:       #5C5D5E;
    --palette-common-field-bottom:    #202122;
    --palette-common-background:      #020304;
}

@media (prefers-color-scheme: light) {
    :root {
        --palette-common-text:            #020304;
        --palette-common-text-highlight:  #202122;
        --palette-common-field-top:       #98999A;
        --palette-common-field-bottom:    #B6B7B8;
        --palette-common-background:      #F2F3F4;
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--palette-common-background);
    color: var(--palette-common-text);
}

/**
    CORE SELECTORS
    main, nav, main < section
**/